<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <link type="text/css" rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
    <h1>Zajęcia</h1>
    <h2>Wprowadzenie do NodeJS</h2>
    <h3>{{pageTitle}}</h3>
    <h2>{{subTitle}}</h2>
    <form action="">
        <input type="text" class='msg' name ="message">
        <button class="addBtn">Send</button>
    </form>
    <div class="result"></div>
    <script src="./../js/func.js"></script>
</body>
</html>
